input[type="date"]{
  
    outline: 1px #7ab440;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #20202054;
}
 input[type="date"]:focus{
    border-bottom: 2px solid #7ab440;
}
input[type="date"]:hover{
    border-bottom: 2px solid #0a0a0a;
} 

/* input:focus{
    border: 1px solid #7ab440;
} */
/* input[type="text"]:hover{
    border: 1px solid #0a0a0a;
} */
